<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coincount</key>
	<integer>20</integer>
	<key>username</key>
	<string></string>
	<key>denyalert</key>
	<false/>
	<key>passcode</key>
	<string></string>
	<key>locked</key>
	<false/>
	<key>hashtoken</key>
	<string></string>
	<key>rated</key>
	<false/>
</dict>
</plist>
